@import "tailwindcss";

@theme {
  --font-lexend: "Lexend Deca", "sans-serif";
  --font-bernoru: "Bernoru", "sans-serif";

}

@font-face {
  font-family: 'Bernoru';
  src: url('./assets/fonts/bernoru-blackultraexpanded.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}
